#
#    fty-metric-snmp - agent for getting measurements using LUA and SNMP
#
#    Copyright (C) 2014 - 2015 Eaton                                        
#                                                                           
#    This program is free software; you can redistribute it and/or modify   
#    it under the terms of the GNU General Public License as published by   
#    the Free Software Foundation; either version 2 of the License, or      
#    (at your option) any later version.                                    
#                                                                           
#    This program is distributed in the hope that it will be useful,        
#    but WITHOUT ANY WARRANTY; without even the implied warranty of         
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          
#    GNU General Public License for more details.                           
#                                                                           
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.            

Source:         fty-metric-snmp
Section:        net
Priority:       optional
Maintainer:     fty-metric-snmp Developers <email@hostname.com>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
    pkg-config,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libfty-proto-dev,
    liblua5.1-0-dev,
    libnetsnmp-dev,
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-metric-snmp0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: agent for getting measurements using lua and snmp shared library
 This package contains shared library for fty-metric-snmp: agent for getting measurements using lua and snmp

Package: libfty-metric-snmp-dev
Architecture: any
Section: libdevel
Depends:
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libfty-proto-dev,
    liblua5.1-0-dev,
    libnetsnmp-dev,
    libfty-metric-snmp0 (= ${binary:Version})
Description: agent for getting measurements using lua and snmp development tools
 This package contains development files for fty-metric-snmp: agent for getting measurements using lua and snmp

Package: fty-metric-snmp
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: agent for getting measurements using lua and snmp
 Main package for fty-metric-snmp: agent for getting measurements using lua and snmp

Package: fty-metric-snmp-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    fty-metric-snmp (= ${binary:Version}),
    ${misc:Depends}
Description: agent for getting measurements using lua and snmp debugging symbols
 This package contains the debugging symbols for fty-metric-snmp : agent for getting measurements using lua and snmp.

