#
#    fty-metric-snmp - agent for getting measurements using LUA and SNMP
#
#    Copyright (C) 2016 - 2017 Tomas Halman
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-metric-snmp
Section:        net
Priority:       optional
Maintainer:     fty-metric-snmp Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libfty-proto-dev,
    liblua5.1-0-dev,
    libsnmp-dev,
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-metric-snmp0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fty-metric-snmp shared library
 This package contains shared library for fty-metric-snmp:
 agent for getting measurements using lua and snmp

Package: libfty-metric-snmp-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libfty-proto-dev,
    liblua5.1-0-dev,
    libsnmp-dev,
    libfty-metric-snmp0 (= ${binary:Version})
Description: fty-metric-snmp development tools
 This package contains development files for fty-metric-snmp:
 agent for getting measurements using lua and snmp

Package: fty-metric-snmp
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from fty-metric-snmp
 Main package for fty-metric-snmp:
 agent for getting measurements using lua and snmp

Package: fty-metric-snmp-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    fty-metric-snmp (= ${binary:Version}),
    ${misc:Depends}
Description: fty-metric-snmp debugging symbols
 This package contains the debugging symbols for fty-metric-snmp:
 agent for getting measurements using lua and snmp.
